# Ignorar el archivo de configuración de WordPress
wp-config.php

# Ignorar la carpeta de contenidos subidos
uploads/

# Ignorar los archivos temporales
.DS_Store
Thumbs.db

# Ignorar las carpetas de plugins y temas específicos si no quieres subirlos
themes/

# Ignorar las bases de datos y backups
*.sql
*.tar.gz
*.zip

.env